#one{
    text-align:start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 100px;
}
h1{
    text-align: center;
    text-decoration:underline;
    text-decoration-color:pink;
    color:blueviolet;
    font-weight:lighter;

}
a{
    text-decoration: none;
    font-weight:bolder;
}
p1{
    font-size: medium;
    font-weight:bolder
}
#two{
font-family: arial;
}